# Build output
build/
*.o
*.a
*.so

# Executables
*.exe

# IDE/editor
.vscode/
.idea/

# OS junk
.DS_Store

# Temporary files
*.swp
*~

.ipynb_checkpoints/
# *.ipynb
contrib/
contrib
tools
logs/
notes/
rust/

# *.txt
Untitled*
*.txt
untitled*
*.gch
test/
*#

# Python files
__pycache__/
*.egg-info


# GDB
.gdb_history



# Added by cargo

/target
